*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    color: #ededed;
    font-family: 'Inter',sans-serif;
    background-color: #081b29;
}
.header-content{
    /* position: fixed; */
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.nav{
    display: none;
    gap: 1.5rem;
}
.menu-button{
    display: block;
    border: none;
    border-radius: 0.375rem;
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    background-color: #081b29;
    padding: 0.5rem 0.9rem;
}
@media screen and(max-width) {
    .main-section{
        flex-direction: column;
    }
}
@media screen and (min-width:755px) {
    .menu-button{
        display: none;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slidetoTop{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidefromLeft{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.nav a{
    display: inline-block;
    font-size: 1.5rem;
    gap: 2.5rem;
    text-decoration: none;
    color: #fff;
    margin-left: 35px;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slidetoTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nav a:hover{
    color: #0ef;

}
@media screen and (min-width:755px) {
    .nav{
        display: flex;
    }
}
.main-section{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.6rem;
    /* align-items: center; */
    margin: 4rem;
}
/* .home{
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 70px 10%;
    display: flex;
} */

/* .home-content{
    max-width: 600px;
} */
.content-left h3{
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.content-left h3:nth-of-type(2){
    margin-bottom: 30px;
}
.content-left h1{
    font-size: 4rem;
    font-weight: 700;
    margin: -3px 0;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url('portfolio7.png');
    -webkit-background-clip: text; 
     animation: back 20s linear infinite;
}
.content-left p{
    font-size: 1rem;
}
.contact-left span{
    color: #0ef;
}
.home-sci a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 2px solid #0ef;
    background: transparent;
    border-radius: 50%;
    font-size: 1rem;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: slidefromLeft 1s ease forwards;
    opacity: 0;
    animation-delay: calc(.2s * var(--i));
}
.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    background-color: #0ef;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: #081b29;
    text-decoration: none;
    padding: 9px 15px;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 0 0 5px cyan;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.content-right{
    border: none;
    /* border-radius: 50%; */
    overflow: hidden;
    /* box-shadow: 0px 4px 8px rgba(0,0,0,0.1); */
    height: 70vh;
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}
@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
#about{
    width: 100%;
}
.about-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 2rem;
    padding: 2rem;
}
.about-img{
    flex-basis: 35%;
}
.about-img img{
   width: 80%;
   border-radius: 15px;
   margin:auto;
   height: 400px;
}
.about-text{
    flex-basis: 60%;
}
.sub-title{
    font-size: 3rem;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-links::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
.about-text h2{
    font-size: 4rem;
}
.about-text span{
    color: #0ef;
}
.about-text h3{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin: 15px 0 30px;
}
.about-text p{
    font-size: 20px;
    color: aliceblue;
    line-height: 1;
    /* margin-bottom: .5rem;
    margin: 2rem 0 3rem; */
}
#project{
    width: 100%;
}
.project-container{
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 400px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #0ef);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #0ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

#services{
    width: 100%;
    margin: auto;
    max-width: 1000px;
   margin-top: 3rem;
   margin-bottom: 3rem;
   /* background-color: aliceblue; */
}
/* .service-container{
    padding: 3rem;
} */
.service-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.service-title span{
    color: #0ef;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 1.4;
}
.services-list div{
    background-color: transparent;
    padding: 2rem;
    font-size: 1rem;
    font-weight: 1rem;
    border-right: .8rem;
    border-radius: 1.3rem;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7;
}
.fa-icon{
    font-size: 40px;
    margin-bottom: 2rem;
}
.services-listdiv h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.read{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 15s;
    box-shadow: 0 0 5px #0ef;
}
.services-list div:hover{
    transform: translateY(-10px);
}
#contact{
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1000px;
    margin-left: 5rem;
    padding-left: 5rem;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 2rem;
}
.contact-left p i{
    color: #0ef;
    margin-right: 1rem;
    font-size: 1.3rem;
}
.social-icons{
    margin-top: 2rem;
}
.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 2px solid #0ef;
    background: transparent;
    border-radius: 50%;
    font-size: 1rem;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.social-icons a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn2{
    display: inline-block;
    background-color: #0ef;
}
#box{
    border-radius: 8px;
}
#box2{
    border-radius: 8px;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    color: #000000;
    font-size: 1.2rem;
    border-radius: 6px;
}
form .btn-box{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}